button{
	height: 40px;
    width: 50%;
	margin: 10px auto;
	color: white;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #573b8a;
    border: solid 1px #2c1d45;
    box-shadow: 1px 3px 10px #150e21;
}

button:hover{
	background: #6d44b8;
}